a {
    text-decoration: none;
}

.black {
    color: #22222f;
}

/* 自定义 */
.search_layout {
    width: 500px;
    height: 42px;

    margin-top: 25px;
    float: left
}

.search_container {
    width: 500px;
    margin-left: 50px;
    overflow: hidden;
    border: 1px solid #ff5000;
    border-radius: 50px;
}

.search_input {
    width: 395px;
    height: 34px;
    background: #FFFFFF;
    margin-top: 4px;
    margin-bottom: 4px;
    float: left;
    margin-left: 20px;
    /* 这两个取消边框 */
    outline: none;
    border: 0;
    display: block;
}

.search_btn {
    width: 80px;
    height: 34px;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 50px;
    cursor: pointer;
    float: left;
    border: none;
    background: #ff5000;
    /* 字体 */
    color: white;
    outline: none;
}

.register_btn {
    width: 400px;
    height: 34px;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 50px;
    cursor: pointer;
    float: left;
    border: none;
    background: #ff5000;
    /* 字体 */
    color: white;
    outline: none;
}

.login_btn {
    width: 400px;
    height: 34px;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 50px;
    cursor: pointer;
    float: left;
    border: none;
    background: #ff5000;
    /* 字体 */
    color: white;
    outline: none;
}

.input_size {
    width: 400px;
    height: 38px
}

.user_span {
    color: #aaa;
    padding: 0 20px 0 0;
}

.padding_10 {
    padding: 10px 0;
}

.avatar {
    width: 178px;
    height: 178px;
}

.top {
    margin-bottom: 5px;

}

.header_box_shadow {
    background: #fff;
    box-shadow: rgb(255, 255, 255);
}

.box_shadow {
    background: #fff;
    box-shadow: rgb(255, 255, 255);
    border-radius: 30px;
}

.publish_btn {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    float: left;
    border: none;
    /* 字体 */
    color: black;
    outline: none;
    background: #FFFFFF;
    /*color: #FFFFFF;*/
}

.margin_top_25 {
    margin-top: 20px;
}

.items_img {
    width: 150px;
    height: 150px;
    display: block;
    float: left;
    border-radius: 30px;
    margin:11px;
}

.card {
    width: 374px;
    font-size: 16px;
    margin: 14px 0 14px 14px;
    background-color: #f7f9fa;
    box-shadow: rgb(0, 0, 128);
    border-radius: 30px;
    color: #ff5000;
}

.card a {
    color: #333;
}

.card p {
    max-width: 152px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.items_txt {
    margin:11px;
    display: block;
    float: left;
    overflow: hidden
}

.price{
    font-size: 22px;
}


.itemsList {
    display: block;
    float: left;
}




