a {
    text-decoration: none;
}

.black {
    color: #22222f;
}

/* 自定义 */
.search_layout {
    width: 500px;
    height: 42px;

    margin-top: 25px;
    float: left
}

.search_container {
    width: 500px;
    margin-left: 50px;
    overflow: hidden;
    border: 1px solid #ff5000;
    border-radius: 50px;
}

.search_input {
    width: 395px;
    height: 34px;
    background: #FFFFFF;
    margin-top: 4px;
    margin-bottom: 4px;
    float: left;
    margin-left: 20px;
    /* 这两个取消边框 */
    outline: none;
    border: 0;
    display: block;
}

.search_btn {
    width: 80px;
    height: 34px;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 50px;
    cursor: pointer;
    float: left;
    border: none;
    background: #ff5000;
    /* 字体 */
    color: white;
    outline: none;
}

.comment_btn {
    width: 80px;
    height: 34px;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 50px;
    cursor: pointer;
    float: left;
    border: none;
    background: #ff5000;
    /* 字体 */
    color: white;
    outline: none;
}

.register_btn {
    width: 400px;
    height: 34px;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 50px;
    cursor: pointer;
    float: left;
    border: none;
    background: #ff5000;
    /* 字体 */
    color: white;
    outline: none;
}

.login_btn {
    width: 400px;
    height: 34px;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 50px;
    cursor: pointer;
    float: left;
    border: none;
    background: #ff5000;
    /* 字体 */
    color: white;
    outline: none;
}

.input_size {
    width: 400px;
    height: 38px
}

.user_span {
    color: #aaa;
    padding: 0 20px 0 0;
}

.padding_10 {
    padding: 10px 0;
}

.avatar {
    width: 178px;
    height: 178px;
}

.top {
    margin-bottom: 5px;

}

.header_box_shadow {
    background: #fff;
    box-shadow: rgb(255, 255, 255);
}

.box_shadow {
    background: #fff;
    box-shadow: rgb(255, 255, 255);
    border-radius: 30px;
}

.publish_btn {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    float: left;
    border: none;
    /* 字体 */
    color: black;
    outline: none;
    background: #FFFFFF;
    /*color: #FFFFFF;*/
}

.margin_top_25 {
    margin-top: 20px;
}

.items_img {
    width: 150px;
    height: 150px;
    display: block;
    float: left;
    border-radius: 30px;
    margin: 11px;
}

.goods_img {
    width: 400px;
    height: 400px;
    display: block;
    float: left;
    border-radius: 30px;
    margin: 11px;
}

.card {
    width: 374px;
    font-size: 16px;
    margin: 14px 0 14px 14px;
    background-color: #f7f9fa;
    box-shadow: rgb(0, 0, 128);
    border-radius: 30px;
    color: #ff5000;
    cursor: pointer;
}

.card a {
    color: #333;
}

.card p {
    max-width: 152px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.items_txt {
    margin: 11px;
    display: block;
    float: left;
    overflow: hidden
}

.goods_txt {
    margin: 11px;
    display: block;
    float: left;
    overflow: hidden
}

.goods_txt a {
    color: #111111;
}

.goods_price {
    color: #f65167;
    font-size: 26px;
    font-weight: 700;
}

.price {
    font-size: 22px;
}

.itemsList {
    display: block;
    float: left;
}

.title {
    color: #111;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 20px;
}

.search_show {
    margin-top: 20px;
    padding-bottom: 20px;
}

#goodsSearch .el-radio__input {
    display: none;
}

.el-radio__input.is-checked + .el-radio__label {
    color: #fd7624 !important;
}

.el-radio__input.is-checked .el-radio__inner {
    background: #fd7624 !important;
    border-color: #fd7624 !important;
}

.search_li {
    padding-bottom: 20px;
}

.search_list {
    font-size: 16px;
    padding: 30px 0 20px 30px;
}

.search_label {
    padding-right: 30px;
    color: #999;
}

.buy_btn {
    width: 150px;
    height: 34px;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    float: left;
    border: none;
    background: #ff5000;
    /* 字体 */
    color: white;
    outline: none;
}

.buy_btn:hover {
    background: #f40;

}

.goods_bottom {
    margin-top: 20px;
    padding-bottom: 20px;

}

.no_comment {
    background: url(../images/no_comment.png) no-repeat center 80px;
    padding: 70px 14px 115px;
    color: #CCCCCC;
    text-align: center;
    font-size: 14px;
}

.user_head {
    height: 50px;
    width: 50px;
    radius: 0 0 0 0;
    border-radius: 50px;
}

.other a {
    color: #333333;
}

.commentBar {
    font-size: 14px;
    margin-top: 10px;
}

.pl_bar {
    display: block;
    margin-left: 20px;
}

.user_heads {
    margin-left: 20px;
}

.other {
    width: 1040px;
}

.reply_bar, .more_bar {
    margin-top: 20px;
    margin-left: 20px;
}

.name{
    color: #999;
}
